<h1>Editing Book</h1>
<%= form_with model: book, local: true do |f| %>
<%= form_with model:book, url:update_book_path(@book.id),method: :patch do |f| %>
    <div>
      <p>Title</p>
        <%= f.text_field :title, class:"form-control book_title" %>
    </div>
    <br>
    <div>
      <p>Opinion</p>
        <%= f.text_area :body, class:"form-control book_body" %>
    </div>
    <br>
    <div>
        <%= f.submit 'Update Book', class:"btn btn-success" %>
    </div>
    <div>
        <%= if @book.user ==current_user %>
        <%= link_to "Destroy", destroy_book_path(@book.id),method: :delete, "data-confilm" => "本当に削除しますか？"%>
        <% end %>
    </div>
  <% end %>
